body{
    background-color: rgba(13, 3, 39, 0.719);
}
header{
    width: 100%;
    height: 10em;   
    background-color: rgba(43, 226, 211, 0.425);
}
.principal{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.corpo-tamagotchi{  
    position: relative;
    width: 500px; 
    display: flex;
    justify-content: center;    
 }
 .corpo-tamagotchi-img{   
     width: 100%;
 }
.display{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 53%;
    height: 38%;
    top: 32%;
}
.colunas-das-atividades{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    height: 90%;
}
.opcao-esquerda, .opcao-direita{
    display: flex;
    justify-content: space-around;
}
.atividade-esquerda, .atividade-direita{
    width: 100%;   
}

.main{
    display: flex;
    flex-direction: column;
    border: 0.5px solid #989d8c50;
    box-sizing: border-box;
}
.linha{
    display: flex;
    flex-direction: row;
}
.pixel{
    width: 9.5px;
    height: 9.5px;
    border: 0.1px solid #989d8c65;
    /* background-clip: padding-box; */
    box-sizing: border-box;
}
.preto{
    background-color: black;
}
.botoes{
   position: absolute; 
}
.botoes-select{
    height: 13.6%;
    top: 57%;
}
#botao-select-esquerdo{
    left: 6.7%;
}
#botao-select-direito{
    right: 6.7%
}
.botao-esc{
    height: 7.9%;
    bottom: 8.5%;
    left: 29.5%;
}
.botao-enter{
    height: 6.9%;
    bottom: 7.3%;
    left: 44.3%;
}
.botao-clock{
    height: 7.9%;
    bottom: 8.5%;
    right: 30.5%;
} 

#img-chavinha{
    position: absolute;
    height: 39%;
    right: 10%;
    top: 69%;
    z-index: -1;
}
.chavinha{
    position: absolute;
    width: 16%;
    height: 16%;
    border-radius: 50%;
    bottom: -8%;
    right: 10%;
} 
