.display{
    position: relative;
    height: 336px;
    width: 602px;
    margin: 5px auto;
    border: 1px solid;
    justify-content: space-between;
    
}
.opcao{
    width: 100px;
    height: 67px;
}

.opcoes-esquerda{
    position: absolute;
    left: 0;
    width: 100px;
    height: 336px;
    border: 1px solid;
    text-align: center;

}

.opcoes-direita{
    position: absolute;
    right: 0;
    width: 100px;
    height: 336px;
    border: 1px solid;
    text-align: center;
    
}
.opcao-esquerda, .opcao-direita{
    width: 100px;
    height: 60px;
    /* display: none; */
}

img{
   margin: 5px auto 0;
   width: 45px;
   display: block; 
}

.main{
    position: absolute;
    left: 100px;
    width: 399px;
    height: 336px;
    /* margin: 2px  auto; */
    border: 1px solid black;
  
}
.preto{
    background-color: black;
}

.pixel{
    font-size: 0.5em;
    text-align: center;
    width: 20px;
    height: 20px;
    display: inline;
    float: left;
    margin-left: 1px;
    margin-top: 1px;
}

